/* Center the container and style the display */
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
    color: #e4e4e4;
    font-family: 'Libre Baskerville', serif;
}

footer {
    color: #A9A9A9;
    font-size: 0.75em;
    display: flex;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
}

#product-name {
    margin-top: 10%;
    font-size: 4rem;
    color: #ecf0f1;
    font-family: "Henny Penny", serif;
    animation: fade-out 2.0s forwards 0.5s;
    cursor: default;
}

@keyframes fade-out {
    to {
        opacity: 0;
        transform: scale(1.1);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.hidden-display {
    display: none;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    height: 300px;
}

.modal-content.share {
    width: 500px;
    height: 60px;
}

.modal-content input {
    width: 80%;
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-body {
    display: flex;
    width: 100%;
}

.tab-column {
    flex: 1;
    background: #ffffff;
    padding: 10px;
    border-right: 1px solid #ddd;
}

.tab-column .tab-button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #000;
}

.tab-column .tab-button.active {
    background-color: #000000;
    color: white;
}

.tab-content {
    flex: 3;
    padding: 20px;
    color: #000;
}

.settingsRow {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    font-family: "Basic", serif;
}

.settingsRow.settingsButtons {
    justify-content:center;
    padding-top: 10px;
}

.settingsRow#settingsAutoParse {
    justify-content: flex-start;
}

.settingsRow label.text {
    margin-right: 10px;
    align-self: center;
}


.unit {
    align-self: flex-end;
    color:#A9A9A9;
    font-size: 0.75em;
}

.settingsRow input[type~="number"] {
    width: 50px;
}

.settingsRow input[type~="color"] {
    height: 50px;
    width: 75px;
    margin-right: 25px;
}

.settingsRow input[type~="checkbox"] {
    width:auto;
}

label.settingsDesc {
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    /*font-weight: 200;*/
    font-style: normal;
    font-size: 0.75em;
    color:#8c8c8c;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.modal-content button {
    padding: 8px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #A9A9A9;
}

#shortenerMsg {
    color: black;
    text-align: center;
    margin-top: 10px;
    font-size: 0.75em;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.cursor-invisible {
    cursor: none; /* hide the cursor when needed */
}

header {
    visibility: hidden;
    transition: opacity 0.3s ease;
    /*position: fixed;*/
    width: 100%;
    height: 100px; 
}

header.hidden {
    opacity: 0;
    /*pointer-events: none; */
    transition: opacity 0.3s ease;
  }

.svgHeaderButton {
    position: fixed;
    left: 0px;

    width: 40px;
    height: 40px;
    z-index: 20;
    margin: 30px 30px;
    
    background-color: transparent;
    border: 2px solid #000000;
    color: #A9A9A9;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.svgHeaderButton:hover {
    background-color: #A9A9A9;
    color: #000;
}

.svgHeaderButton img {
    width: 20px;
    height: 20px;
}

.svgHeaderButton:hover > img {
    filter: invert(0%) sepia(100%) saturate(100%) hue-rotate(127deg) brightness(0%) contrast(100%);
}

#shareButton {
    left: 75px;
}

#optionsButton {
    left: 75px;
}

#fullscreenButton {
    left: unset;
    right: 0px;
}

#playPauseButton {
    left: unset;
    right: 75px;
}

#playPauseButton > img {
    filter: brightness(0) saturate(100%) invert(55%) sepia(5%) saturate(18%) hue-rotate(101deg) brightness(91%) contrast(92%);
}

#playPauseButton:hover > img {
    filter: invert(0%) sepia(100%) saturate(100%) hue-rotate(127deg) brightness(0%) contrast(100%);
}

main {
    flex: 1;
    margin: 50px auto;
    width: 60%;
    text-align: left;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}

#display {
    cursor: default;
    font-size: 1.1em;
    white-space: pre-wrap;
    visibility: hidden;
    color: #e4e4e4;
}

#storyInput {
    width: 100%;
    height: 75%;
    color: #e4e4e4;
    background-color: #000;
    visibility: hidden;
}

#storySubmit {
    visibility: hidden;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.25s forwards;
}

/* Fade-in animation */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#arrows {
    position: fixed;
    margin-top: 30px;
    width: 100%;
}

.centeredButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.centeredButtons button {
    background-color: transparent;
    border: 2px solid #000000;
    color: #A9A9A9;
    font-size: 1.5em;
    padding: 5px 15px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.centeredButtons button:hover {
    background-color: #A9A9A9;
    color: #000;
}

#totalPageContainer {
    position: fixed;
    top: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 18px;
    color: #505050;
    font-family: "Basic", serif;
    font-size: 0.75em;
    visibility: hidden;
}

/* Editable page indicator */
#indicator {
    width: 40px;
    text-align: center;
    font-size: 1.5em;
    color: #A9A9A9;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 5px;
    outline: none;
    margin: 0px 10px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

#indicator:focus, #indicator:focus:hover {
    background-color: #f5f5f5;
    color: #000;
}

#indicator:hover {
    background-color: #A9A9A9;
    color: #000;
}